<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}} {{message + message}}
        <div :id="message"></div>
        <todo-list>
            <todo-item v-for="item in list" :title="item.title" :del="item.del" @delete="handleDelete">
                <span slot="pre">pre</span>
                <template v-slot:suf>
                    <span >suf</span>
                </template>
            </todo-item>
        </todo-list>
    </div>
    <script>
        Vue.component('todo-list', {
            template: `
            <ul>
                <slot />
            </ul>
            `
        })
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false
                },
                // delete: Function
            },
            template: `
            <li>
                <slot name="pre"></slot>
                <span v-if="!del">{{title}}</span>
                <span v-else style="text-decoration: line-through">{{title}}</span>
                <slot name="suf"></slot>
                <button v-show="!del" @click="handelClick(title)">del</button>
            </li>
            `,
            data () {
                return {}
            },
            methods: {
                handelClick (val) {
                    // this.delete(val)
                    this.$emit('delete', val)
                }
            }
        })
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    message: 'Hello, World',
                    list: [
                    {
                        title: 'class1',
                        del: false
                    },
                    {
                        title: 'class2',
                        del: true
                    }
                ]
                }
            },
            methods: {
                handleDelete(val) {
                    console.log('handleDelete', val)
                }
            }
        })
    </script>
</body>
</html>